<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/buyer_index.css">
        <title>Product Listing - ShopEasy</title>
    </head>
    <body>
        <!-- Toast -->
        <div id="toast-surrounding-container" style="display: none;" aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-fixed position-fixed top-0 end-0 mt-3 me-3 p-3" style="z-index: 1050;">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="3500">
                <div class="toast-header">
                    <img id="buyerhome-toast-image" style="width: 1.25rem; height: 1.25rem;" class="rounded me-2">
                    <strong id="buyerhome-toast-title" class="me-auto"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div id="buyerhome-toast-message" class="toast-body"></div>
            </div>
            </div>
        </div>
        <!-- NavBar -->
        <div id="customer-preview" hidden>
          <img src="images/info_icon.png" style="display: inline"><p style="display: inline">Welcome! You are not logged in. As such, we have displayed a preview of the page. To make purchases, please login or register.</p>
        </div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid d-flex justify-content-start">
                 <a class="navbar-brand mb-0 h1" href="/">ShopEasy</a>
                 <ul class="navbar-nav">
                     <li class="nav-item">
                         <a class="nav-link active" href="/">Product Listing</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/orders">My Orders</a>
                     </li>
                 </ul>
                 <div class="ms-auto">
                    <button id="user-cart-button" class="btn btn-outline-dark position-relative" style="margin-right: 8px;" type="button" hidden>
                      Cart
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark" id='user-cart-item-count'>0</span>
                    </button>
                    <button id="user-login-button" class="btn btn-outline-success" type="button" onclick="window.location.href = '/auth'">Login / Register</button>
                    <button id="user-logout-button" class="btn btn-outline-danger" type="button" hidden>Log Out</button>
                  </div>
            </div>
        </nav>
        <h3 id="page-title" class="text-center">Product Listing</h3>
        <div id="auto-margin" style="margin-bottom: 3%;"></div>
        <!-- Products - JS Populated -->
        <script src="buyer_index.js"></script>
        <script src="injector.js"></script>
    </body>
</html>