<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/pay.css">
    <title>Payment</title>
</head>
<body>
    <div class="payment-container">
        <div style="text-align: center;">
            <h2 id="container-header">Complete Your Payment</h2>
            <br />
            <form id="payment-type-form">
                <div class="payment-type">
                    <input type="radio" checked name="payment-type" id="payment-type" value="Credit Card">
                    <img src="images/creditcard.jpg" class="payment-type-img">
                    <p class="payment-type-name">Credit Card</p>
                </div>
                <div class="payment-type">
                    <input type="radio" name="payment-type" id="payment-type" value="PayNow">
                    <img src="images/paynow.png" class="payment-type-img">
                    <p class="payment-type-name">PayNow</p>
                </div>
                <input type="submit" id="submit-button" value="Pay">
            </form>
        </div>
    </div>
    <div hidden id="orders-redirect-message" style="text-align: center; border: 1.5px solid red; font-family: sans-serif;">
        This payment includes all other items that were ordered together!
    </div>

    <script src="payment.js"></script>
</body>
</html>